<div id="section">
  <h1>{{sectionTitle}}</h1><br><br>
  <div class="project-row">
    <app-box 
      boxTitle="Project Title"
      description="This is a brief description about this project."
      date="August 2017"
      color="#d690ac"
      width="180px">
    </app-box>

    <app-box 
      boxTitle="Another Project"
      description="This is another description of something cool."
      date="January 2016"
      color="#c5d0e2"
      width="220px"
      leftOffset="270px">
    </app-box>
  </div>
  <div class="project-row"> 
    <app-box 
      boxTitle="Another Thing I Made"
      description="Lorem Ipsum etc words go here."
      date="January 2016"
      color="#90d1c6"
      width="450px">
    </app-box>
  </div>
  
</div>
